
.nav-pills > li > a {
  color: #DAD2D2;
  background-color: #CA4E44;
  border-radius: 4px;
}

.nav-pills > li > a:hover {
  color: #CA4E44;
  background-color: #DAD2D2;
  border-radius: 4px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #CA4E44;
  background-color: #DAD2D2;
}

.btn-tema {
  color: #DAD2D2;
  background-color: #CA4E44;
  border-color: black;
}


.btn-tema:hover {
  color: #CA4E44;
  background-color: #DAD2D2;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color:black;
}

button,
input,
optgroup,
select,
textarea {
  margin: 5;
  font: inherit;
  color: inherit;
}


css------------------------------------

input[type=texto], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: black;
    box-sizing: border-box;
}

input[type=enviar] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=enviar]:hover {
    background-color: #45a049;
}

js---------

 <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
    </script>


html-------

<div class="form-group">
  <label>Archivo</label>
  <input type="file" name="adjunto" />
  <form action="..." method="post" enctype="multipart/form-data">
</div>